<h2><%= @article.title %></h2>
<%= link_to '<i class="fa fa-solid fa-pen"></i>'.html_safe, edit_article_path %>
<%= link_to '<i class="fa fa-solid fa-trash"></i>'.html_safe, article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} %>
<p><%= @article.content %></p>
<%= link_to "Back to all articles", articles_path %>
